.banner {
  background-image: url('../../background.jpeg');
  background-size: cover;     
  background-position: center;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 80%),url('../../images/background.jpeg');
  padding-top: 150px;
  padding-bottom:  150px;
}
